@media only screen and (min-width: 1400px) {
    .container {
        width: 1320px;

    }
    .search{
        .responsive{
            all: unset;
            list-style-type: none;
            align-items: center;
            gap: 10px;
        }
        
    }
    .container{
        .header{
            .nav-none{
                display: none;
            }
            

        }
    }
    .header .list_2 {
        display: flex !important;
    }
    .wrap7{
        .second-section{
            .second{
                .column1{
                    .column-lines{
                        margin-top: -33px;
                    }
                }
            }
        }
    }
    
    
}

@media only screen and (min-width: 1200px) and (max-width:1399px) {
    .container {
        width: 1140px;
    }
    .search{
        .responsive{
            all: unset;
            list-style-type: none;
            align-items: center;
            gap: 10px;
        }
        
    }
    .container{
        .header{
            .nav-none{
                display: none;
            }
            

        }
    }
    .header .list_2 {
        display: flex !important;
    }

    .wrap7 {
        gap: 47px;

        .second-section {
            .column2 {
                gap: 41px;
                .contact-call{
                    .contact{
                        padding-right: 35px;
                    }
                }
            }

            .second {
                gap: 67px;
                .column1{
                    .column-lines{
                        margin-top: -33px;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 992px) and (max-width:1199px) {
    .container {
        width: 960px;
    }
    .search{
        .responsive{
            all: unset;
            list-style-type: none;
            align-items: center;
            gap: 10px;
        }
        
    }
    .container{
        .header{
            .nav-none{
                display: none;
            }
            

        }
    }
    .header .list_2 {
        display: flex !important;
    }


    .cont2wrapper {
        .cont2-div {
            .investing-made-easy {
                font-size: 38px;
            }


        }

        .first-image {
            width: 475px;
            height: auto;
        }

    }

    .header {
        .search {
            padding-left: 0px;
        }
    }

    .gradient-container {
        .cont5-wrap {
            .first-div {
                .ask-flex {
                    .first-1 {
                        .investing {
                            font-size: 20px;
                        }

                        .investing-para {
                            font-size: 14px;
                        }

                    }


                }

            }

        }

    }

    .wrap7 {
        gap: 0px;

        .first {
            padding-left: 56px;
        }

        .second-section {
            .second {
                gap: 61px;
                .column1{
                    .column-lines{
                        margin-top: -33px;
                    }
                }
            }

            .column2 {
                gap: 37px;
                .contact-call{
                    .contact{
                        padding-right: 28px;
                    }
                }
            }
        }

    }

}

@media only screen and (min-width: 768px) and (max-width:991px) {
    .container {
        width: 720px;
    }
    .header {
        display: flex;
        flex-direction: column;
        .hamburgr{
            padding-left: 508px;
        }
        .neo-funds{
            padding-bottom: 20px;
        }
        .search{
            .search-bar{
                margin-right: 508px;
            }
            .list_2{
                display: none;
            }
        }
    }

    .cont2wrapper {

        flex-direction: column-reverse;
        padding: 0px;
        .cont2-div{
            padding-bottom: 73px;
            .investing-made-easy {
                font-size: 40px;
            }

        }

        

        .first-image {
            height: auto;
            width: 100%;
        }

    }


    .cont4-wrapper {
        flex-direction: column;

        .about {
            padding-right: 349px
        }

    }

    .gradient-container {

        .cont5-wrap {
            flex-direction: column-reverse;

            .first-div {
                .ask-flex {
                    .first-1 {
                        .investing {
                            font-size: 20px;
                        }

                        .investing-para {
                            font-size: 14px;
                        }


                    }

                }


            }

            .second-image {
                width: 100%;
                height: auto;
                padding-left: 0px;

            }

        }
    }

    .wrap7 {
        flex-direction: column;
        gap: 0px;

        .first {
            padding-left: 53px;
        }

        .second-section {
            gap: 10px;

            .second {
                gap: 36px;
                .column1{
                    .column-lines{
                        margin-top: -33px;
                    }
                }

            }

            .column2 {
                gap: 13px;
                .contact-call{
                    .contact{
                        padding-right: 0px;
                        padding-left: 46px;
                    }
                }
            }
        }

    }

    .header {
        

        .neo-funds {
            padding-left: 0px;
        }

        .search {
            padding-left: 0px;
        }

        .span1 {
            font-size: 8px;
            padding: 8px;
        }

        .span4 {
            font-size: 11px;

        }
    }

    .cont3wrapper {
        .container_wrapper{
            padding-bottom: 47px;
        }
        .logo-sec {
            .logo {
                .logo-head {
                    font-size: 13px;

                }

            }

        }

    }

    .wrap6 {
        .second-sec {
            .chat-img {
                right: 76px;
            }

        }

    }

    .container_wrapper {
        flex-direction: column;
    }




}

@media only screen and (min-width: 576px) and (max-width:767px) {
    .container {
        width: 540px;
    }

    .cont2wrapper {
        display: flex;
        flex-direction: column-reverse;
    }

    .header {
        display: flex;
        flex-direction: column;
        .hamburgr{
            padding-left: 316px;
        }
        .neo-funds{
            padding-bottom: 20px;
        }
        .search{
            .search-bar{
                margin-right: 441px;
            }
            .list_2{
                display: none;
            }
        }
    }

    .cont3wrapper {
        .container_wrapper {
            display: flex;
            flex-direction: column;
            padding-bottom: 45px;

            .para {
                width: 100%;
                padding-top: 15px;
            }
        }


    }

    .cont4-wrapper {
        display: flex;
        flex-direction: column;

        .about {
            padding-right: 164px;
        }
    }

    .gradient-container {
        .cont5-wrap {
            display: flex;
            flex-direction: column-reverse;

        }

    }

    .gradient-container {
        .cont5-wrap {
            display: flex;
            flex-direction: column-reverse;

            .second-image {
                padding-left: 0px;
            }

            .first-div {
                .ask-flex {
                    .first-1 {
                        .investing-para {
                            font-size: 15px;
                        }

                    }

                }

            }

        }

    }

    .wrap7 {
        flex-direction: column;
        gap: 24px;
        padding-top: 26px;

        .first {
            padding-bottom: 62px;
            padding-left: 20px;
        }

        .second-section {
            .second {
                gap: 45px;
            }

            gap: 10px;

            .column2 {
                gap: 0px;
                white-space: normal;
                .contact-call{
                    .contact{
                        margin-left: 1px;
                        padding-right: 0px;
                    }
                }

                .column2-img {
                    padding-left: 19px;
                }

                .download {
                    padding-left: 86px;
                }

                .call {

                    .no1,
                    .no2 {
                        padding-left: 30px;
                    }

                    .call-us {
                        padding-left: 35px;
                    }
                }
            }

            .column1 {
                white-space: normal;
                .column-centr{
                    margin-top: 0px;
                    
                }
                .line1{
                    padding-left: 3px;
                }
            }
        }
    }

    .cont4-wrapper {
        .about-funds {
            padding-top: 45px;
        }

    }


}
@media only screen  and  (min-width: 576px){
    .wrap7 {
        .second-section{
            .column1 {
                .plus-img {
                    display: none;
                }
                .close{
                    display: none;
                }

            }

        }

    } 
}

@media only screen and (min-width: 320px) and (max-width: 575px){

    .container {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        
       

    }
    .wrapper{
        display: none;
    }

    .header {
        flex-direction: column;
        .search{
            .search-bar{
                margin-left: 97px;
                box-shadow: 0 -35px 20px 0 rgba(0, 0, 0, 0.03);
                .input{
                    width: 239px;
                }
            }
        }
        .neo-funds{
            padding: 0px 3px 30px 0px;
            font-size: 20px;
            .hamburgr{
                padding-left: 84px;
              }
            
        }
        
        .search {
           
            margin-left: -117px;
            padding-left: 0px;
            .list_2{
                display: none;
            }
            .nav-icon{
                display: block;
            }
        }
    }
    

    .first-image {
        display: none;
    }

    .container_wrapper {
        flex-direction: column;
    }

    .cont4-wrapper {
        display: flex;
        flex-direction: column;
        padding-right: 0px;
        .button-2{
            .watch-vedio{
                font-size: 14px;
            }
            .know-more{
                font-size: 15px;
            }
        }
       
        .image-0{
            width: 300px;
            height: 251px;
        }
        
        .learn-funds{
            font-size: 30px;
        }

        .about {
            padding-right: 16px;
            padding-top: 20px;
            .know-more{
                padding: 2px 17px;
                width: 132px;

            }
        }
    }


    .gradient-container {
        .cont5-wrap {
            .first-div {
                .ask-flex {
                    display: flex;
                    flex-direction: column;
                    .first-1{
                        padding-top: 30px;
                    }
                    .schedule-now{
                        width: 186px;
                    }
                }

            }

            .second-image {
                display: none;
            }

        }

    }
    .shadow {
        box-shadow: 0 -35px 20px 0 rgba(0, 0, 0, 0);
      }

    .wrap7 {
        display: flex;
        flex-direction: column;
        gap: 0px;
        padding-top: 0px;

        .first {
            padding-left: 0px;
            .neo-img{
                width: 71px;
            }
            .neo{
                font-size: 18px;
            }
        }
        .second-section{
            .second{
                flex-direction: column;
                gap: 0px;
            }
        }

        .second-section {
            .column2 {
                gap: 0px;
                flex-wrap: wrap;
                .download{
                    margin-right: 121px;

                }
                .contact-call{
                    flex-direction: row-reverse;
                    justify-content: space-between;
                    .contact{
                        padding-right: 88px;
                        margin-left: -59px
                    }
                    .call{
                        padding-right: 0px;
                    }
                }
                .call-us{
                    padding-left: 21px;
                    margin-left: -6px;

                }
                
            }
            .column1{
                .quick-links{
                    border: 1px solid #F0F0F0;
                    width: 100%;
                    height: 52px;
                    margin-left: -62px;
                    
                }
                .click{
                    margin-left: -40px;
                }
                .column-lines{
                    display: none ;
                    gap: 10px;
                }
                .column-lines1{
                    display: none;
                    gap: 10px;
                    align-items: center;
                    right: 0;
                    margin-top: -75px;
                }
                .column-lines2{
                    display: none;
                    gap: 10px;
                    align-items: center;
                    right: 0;
                    margin-top: -75px;
                }
                
                
            }
        }
    }
    .cont3wrapper{
        .logo-sec {
            column-gap: 0px;
            .logo {
                .logo-head {
                    font-size: 11.2px;
                }

            }

        } 
        .container_wrapper{
            padding-bottom: 45px;
            .para{
                .cont3-head{
                    width: 313px;
                }
                .cont3-para{
                    width: 335px;
                }
            }
        }
    }
    .wrap6{
        .first-part{
            .manage-para{
                width: 100%;
                padding-left: 0px;
                padding-bottom: 45px;
            }
            .image-span{
                .image-app{
                    width: 150px    ;
                    padding-bottom: 80px;
                }
            }
            .manage-investment{
                padding-top: 55px;

            }
        }
    }
    .footer_wrapper{
        flex-direction: column-reverse;
        .copyright {
            padding: 12px                   ;
        }
        .social-medias{
            padding-left: 11px;


        }
        
    }
    .cont2wrapper {
        .cont2-div {
            .investing-made-easy{
                font-size: 30px;
                padding-top: 0px;
            }
            .indias-fatest{
                // width: 100%;
                padding-right: 0px;
            }
            

        }

    }
    
    
}