* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html {
  scroll-behavior: smooth;
}
html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.container-fluid {
  // width: 100vw;
  background-color: #e4faf4;

}

.container {
  margin: auto;

}

.flex {
  display: flex;
}

.flex_column {
  display: flex;
  flex-direction: column;
}

.btn-4 {
  color: #ffffff;
  font-family: Avenir-Heavy;
  font-size: 18px;
  text-align: center;
  background-color: #00d09c;
  padding-top: 85px;
  border-radius: 4px;
  box-shadow: 0 5px 20px 0 rgba(90, 202, 157, 0.05);
  border: none;
  padding: 15px 32px;
  width: 186px;
  height: 60px;

  &:hover {
    background-color: #009b74;
    cursor: pointer;

  }

}

.line1 {
  color: #222222;
  font-family: Avenir-Heavy;
  font-size: 17px;
  line-height: 23px;
  text-align: left;
  padding: 5px;
  text-decoration: none;
  padding-left: 12px;
  

}

.line2 {
  color: #222222;
  font-family: Avenir;
  font-size: 15px;
  line-height: 20px;
  opacity: 0.699999988079071;
  text-align: left;
  padding: 5px;
  text-decoration: none;
}

.line3 {
  color: #222222;
  font-family: Avenir;
  font-size: 15px;
  line-height: 20px;
  opacity: 0.699999988079071;
  text-align: left;
  padding: 5px;
  text-decoration: none;
}

.line6 {
  color: #222222;
  font-family: Avenir;
  font-size: 15px;
  line-height: 20px;
  opacity: 0.699999988079071;
  text-align: left;
  padding: 5px 5px 5px 12px;
  text-decoration: none;
}


@font-face {
  font-family: Avenir-Roman;
  src: url(./workshop-practice-1/assets/font/avenir_ff/AvenirLTStd-Roman.otf);

}

@font-face {
  font-family: FuturaBT-Book;
  src: url(./workshop-practice-1/assets/font/futura_book_bt.ttf);

}

@font-face {
  font-family: Avenir-Heavy;
  src: url(./workshop-practice-1/assets/font/Avenir_Heavy.ttf);

}

@font-face {
  font-family: Avenir-Medium;
  src: url(./workshop-practice-1/assets/font/Avenir_Medium.ttf);

}

@font-face {
  font-family: FuturaBT-Books;
  src: url("./workshop-practice-1/assets/font/Futura\ XBlk\ BT.ttf");

}

@font-face {
  font-family: Futura-Medium;
  src: url(./workshop-practice-1/assets/font/Futura_Medium.otf);

}

@font-face {
  font-family: Avenir;
  src: url(./workshop-practice-1/assets/font/AvenirLTStd-Book.otf);

}




body {
  font-family: Avenir, Arial, Helvetica, sans-serif;

}
.responsive{
  display: block !important;
  padding: 1rem;
  position: absolute;
  display: flex !important;
  flex-direction: column;
  background-color: lightblue;
  top: 0px;
  right: 0;
  z-index: 10;
  height: 100vw;
  box-shadow: 0 10px 10px slategrey;
}

.accordion-items {
  // display: block !important;
  display: flex !important;
  flex-direction: column !important;
}



// first section 

.wrapper {
  align-items: center;
  padding: 4px;
  justify-content: flex-end;

  .list {
    list-style-type: none;
    align-items: center;
    justify-content: flex-end;


    .phone-img {
      text-align: center;
      width: 13px;

    }

    .download {
      border-right: 1px solid #dadce0;


      a {
        text-decoration: none;
        color: #222222;

      }


      font-family: Avenir-Medium;
      font-size: 13px;
      text-align: center;
      padding: 10px;
    }

    .blog {
      border-right: 1px solid #dadce0;
      font-family: Avenir-Medium;
      font-size: 13px;
      line-height: 17.76px;
      text-align: left;
      padding: 10px;

      a {
        text-decoration: none;
        color: #222222;
      }
    }

    .language {
      font-family: Avenir;
      font-size: 13px;
      text-align: left;
      padding: 10px;

      a {
        text-decoration: none;
        color: #222222;
      }
    }

    .english {
      font-family: Avenir-Medium;
      font-size: 13px;
      text-align: left;
      padding: 10px;

      a {
        text-decoration: none;
        color: #222222;
      }
    }
  }
}

// second section 

.header {
  justify-content: space-between;
  padding-top: 34px;
  padding-bottom: 34px;
  align-items: center;

  .neo-funds {
    color: #222222;
    font-family: Futura-Medium;
    font-size: 25.92px;
    text-align: center;
    display: flex;
  }
  .hamburgr{
    padding-left: 101px;
  }

  .search {
    border-radius: 6px;
    padding-left: 120px;
    flex-direction: row;
    align-items: center;
    gap: 22px;

    .search-bar {
      padding: 12px;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      background-color: #f5f5f5;
      gap: 4px;
      border-radius: 6px;
      padding: 10px;

      .input {
        background-color: #f5f5f5;
        border-radius: 6px;
        color: #222222;
        font-family: Avenir;
        font-size: 14px;
        opacity: 0.5;
        text-align: left;
        border: none;
      }
    }
  }

  .list_2 {
   
    list-style-type: none;
    align-items: center;
    gap: 10px;

    .span1 {
      color: #222222;
      font-family: Avenir;
      font-size: 14px;
      text-align: right;
      padding: 10px;

      a {
        text-decoration: none;
        color: #222222;
      }
    }

    .span4 {
      color: #222222;
      font-family: Avenir-Heavy;
      font-size: 14px;
      text-align: center;
      font-weight: bold;
    }
    // .nav-icon{
    //   display: none;
    // }
  }
}

// third section 
.cont2wrapper {
  justify-content: space-between;
  padding-bottom: 40px;
  gap: 20px;

  .cont2-div {
    padding: 30px 0px;
    align-items: center;

    .investing-made-easy {
      color: #222222;
      font-family: FuturaBT-Book;
      font-size: 40px;
      text-align: left;
      padding-top: 48px;
      font-weight: lighter;

      .easy {
        // background: linear-gradient(1deg, rgb(132, 211, 132) 5%, transparent 50%);
        font-weight: bold;
        position: relative;
        z-index: 1;

      }

      .easy::before {
        content: "";
        position: absolute;
        bottom: 1px;
        width: 100%;
        height: 15px;
        z-index: -1;
        background-color: paleturquoise;

      }
    }

    .indias-fatest {
      color: #222222;
      font-family: Avenir;
      font-size: 17px;
      line-height: 29px;
      opacity: 0.699999988079071;
      // width: 455px;
      padding-top: 30px;
      text-align: justify;
      padding-bottom: 55px;
      padding-right: 56px;
    }

    .btn {
      padding: 15px;
      width: 208px;
      height: 60px
    }
  }
}

@font-face {
  font-family: 'Futura_font';
  src: url('./assets/font/Futura XBlk BT.ttf');
}

// fourth section 
.cont3wrapper {
  box-shadow: 0 5px 20px 0 rgba(90, 202, 157, 0.05);

  .container_wrapper {
    justify-content: space-between;
    gap: 30px;

    .para {
      width: 50%;

      .cont3-head {
        color: #222222;
        font-family: Futura-Medium;
        font-size: 30px;
        text-align: left;
        padding: 15px 0px;
        padding-left: 25px 0px;
        padding-top: 38px;
      }

      .cont3-para {
        color: #222222;
        font-family: Avenir;
        font-size: 17px;
        line-height: 29px;
        opacity: 0.699999988079071;
        width: 504px;
        text-align: left;
        padding: 10px 0px;
        padding-left: 25px 0px;
        padding-bottom: 30px;
      }
    }
  }

  .logo-sec {
    justify-content: space-around;
    align-items: center;
    column-gap: 30px;

    .logo {
      padding: 5px;
      border: 1px solid rgba(0, 208, 156, 0.2);
      border-radius: 6px;

      .logo-head {
        color: #222222;
        font-family: Avenir;
        font-size: 14px;
        opacity: 0.699999988079071;
        text-align: center;
        align-items: center;
      }

      .logo1 {
        padding: 10px;
      }
    }
  }
}

// fifth section 
.cont4-wrapper {
  padding-top: 117px;
  align-items: center;
  padding-bottom: 117px;
  justify-content: space-evenly;
  

  .about-funds {
    color: #222222;
    font-family: Avenir-Medium;
    font-size: 17px;
    opacity: 0.699999988079071;
    text-align: left;
    padding-bottom: 10px;
  }

  .learn-funds {
    color: #222222;
    font-family: Futura-Medium;
    font-size: 40px;
    text-align: left;
    font-weight: lighter;
    padding-bottom: 15px;
  }

  .image-1 {
    border-radius: 0 6px;
  }

  .about-head {
    color: #222222;
    font-family: Avenir-Roman;
    font-size: 17px;
    opacity: 0.699999988079071;
    text-align: left;
    padding: 10px;
    font-weight: lighter;
  }

  .inline-1 {
    padding-bottom: 45px;
  }

  .button-2 {
    display: flex;

    .watch-vedio {
      color: #00d09c;
      font-family: Avenir;
      font-size: 19px;
      text-align: left;
      padding: 20px;
    }
  }
}

.gradient-container {
  background-image: linear-gradient(180deg, #e4faf4 0%, #ffffff 100%);

  // sixth section 
  .cont5-wrap {
    gap: 15px;

    .first-div {
      padding-top: 136px;
      padding-left: 20px 0px;

      .ask-expert {
        color: #222222;
        font-family: Futura-Medium;
        font-size: 40px;
        line-height: 52px;
        text-align: left;
        padding: 10px 0px;
      }

      .ask-para {
        color: #222222;
        font-size: 17px;
        line-height: 29px;
        opacity: 0.699999988079071;
        text-align: left;
        padding: 10px 0px;
        font-weight: lighter;
      }

      .ask-flex {
        padding-top: 25px;
        gap: 22px;

        .first-1 {
          display: flex;
          flex-direction: column;

          .investing {
            color: #222222;
            font-family: Futura-Medium;
            font-size: 24px;
            text-align: left;
            padding-top: 55px;
            padding-bottom: 10px;
            font-weight: lighter;
          }

          .image-cash {
            padding: 9px;
            background-color: #E8F9F5;
            border-radius: 4px;
            width: 62px;
            height: 62px;
          }

          .investing-para {
            color: #222222;
            font-family: Avenir;
            font-size: 16px;
            line-height: 29px;
            opacity: 0.699999988079071;
            text-align: left;
            padding-top: 24px;
            padding-bottom: 70px;
          }
        }
      }
    }

    .second-image {
      padding-top: 85px;
      padding-left: 23px;
      width: 555px;
      height: 833px;
      object-fit: contain;
    }
  }
}

// sixth section 
.wrap6 {
  justify-content: space-between;
  justify-content: center;

  .first-part {
    padding-top: 50px;

    .manage-investment {
      color: #222222;
      font-family: FuturaBT-Book;
      font-size: 30px;
      text-align: center;
      padding-top: 150px;
    }

    .manage-para {
      color: #222222;
      font-family: Avenir;
      font-size: 17px;
      line-height: 29px;
      opacity: 0.699999988079071;
      width: 457px;
      text-align: center;
      padding-left: 89px;
      padding-top: 15px;
      padding-bottom: 15px;
    }

    .download-app {
      color: #222222;
      font-family: FuturaBT-Book;
      font-size: 24px;
      text-align: center;
      padding-top: 30px;
      padding-bottom: 25px;
    }

    .image-span {
      justify-content: center;

      .image-app {
        padding: 10px;
        padding-bottom: 136px;
      }
    }
  }

  .second-sec {
    .chat-img {
      position: fixed;
      bottom: 75px;
      right: 120px;
    }
  }
}

.shadow {
  box-shadow: 0 -35px 20px 0 rgba(0, 0, 0, 0.03);
}

// seventh section 
.wrap7 {
  gap: 74px;
  padding-top: 109px;

  .first {
    padding-left: 110px;

    .neo {
      color: #222222;
      font-family: Futura-Medium;
      font-size: 30px;
      letter-spacing: 4.5px;
      text-align: left;
      padding: 10px;
    }
    .neo-img{
      width: 95px;
    }
  }

  .second-section {
    flex-direction: column;
    gap: 0px;

    .second {
      flex-direction: row;
      gap: 122px;
    }

    .column1 {
      white-space: pre;

      a {
        display: inline-block;
        // padding-left: 12px;
      }
      .plus-img{
        width: 15px;
        margin-bottom: -7px;  
        opacity: 0.4;
      }
      // .column-centr{
      //   margin-top: -48px
      // }

    }

    .column2 {
      white-space: pre;
      flex-direction: row;
      justify-content: space-around;
      gap: 97px;
      .contact-call{
        .contact{
            padding-right: 92px;
            margin-left: -12px

        }
        .call{
          margin-left: 16px;
        }
      }

      .colum2-img {
        white-space: nowrap;
      }

      a {
        display: inline-block;
      }

      .download {
        padding-left: 68px;

        .app {
          padding: 5px;
        }
      }
    }
  }
}

// footer menu 
footer {
  border-top: 1px solid #dadce0;

  .footer_wrapper {
    justify-content: space-between;
    background-color: #ffffff;
    align-items: center;

    .copyright {
      color: #222222;
      font-family: Avenir;
      font-size: 12px;
      opacity: 0.699999988079071;
      text-align: left;
    }

    .social-medias {
      padding-right: 25px;

      .social {
        padding: 10px;
      }
    }
  }
}