@media only screen and (min-width: 1400px) {
  .container {
    width: 1320px;
  }
  .search .responsive {
    all: unset;
    list-style-type: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
  }
  .container .header .nav-none {
    display: none;
  }
  .header .list_2 {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .wrap7 .second-section .second .column1 .column-lines {
    margin-top: -33px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .container {
    width: 1140px;
  }
  .search .responsive {
    all: unset;
    list-style-type: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
  }
  .container .header .nav-none {
    display: none;
  }
  .header .list_2 {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .wrap7 {
    gap: 47px;
  }
  .wrap7 .second-section .column2 {
    gap: 41px;
  }
  .wrap7 .second-section .column2 .contact-call .contact {
    padding-right: 35px;
  }
  .wrap7 .second-section .second {
    gap: 67px;
  }
  .wrap7 .second-section .second .column1 .column-lines {
    margin-top: -33px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 960px;
  }
  .search .responsive {
    all: unset;
    list-style-type: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
  }
  .container .header .nav-none {
    display: none;
  }
  .header .list_2 {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .cont2wrapper .cont2-div .investing-made-easy {
    font-size: 38px;
  }
  .cont2wrapper .first-image {
    width: 475px;
    height: auto;
  }
  .header .search {
    padding-left: 0px;
  }
  .gradient-container .cont5-wrap .first-div .ask-flex .first-1 .investing {
    font-size: 20px;
  }
  .gradient-container .cont5-wrap .first-div .ask-flex .first-1 .investing-para {
    font-size: 14px;
  }
  .wrap7 {
    gap: 0px;
  }
  .wrap7 .first {
    padding-left: 56px;
  }
  .wrap7 .second-section .second {
    gap: 61px;
  }
  .wrap7 .second-section .second .column1 .column-lines {
    margin-top: -33px;
  }
  .wrap7 .second-section .column2 {
    gap: 37px;
  }
  .wrap7 .second-section .column2 .contact-call .contact {
    padding-right: 28px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 720px;
  }
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header .hamburgr {
    padding-left: 508px;
  }
  .header .neo-funds {
    padding-bottom: 20px;
  }
  .header .search .search-bar {
    margin-right: 508px;
  }
  .header .search .list_2 {
    display: none;
  }
  .cont2wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 0px;
  }
  .cont2wrapper .cont2-div {
    padding-bottom: 73px;
  }
  .cont2wrapper .cont2-div .investing-made-easy {
    font-size: 40px;
  }
  .cont2wrapper .first-image {
    height: auto;
    width: 100%;
  }
  .cont4-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cont4-wrapper .about {
    padding-right: 349px;
  }
  .gradient-container .cont5-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .gradient-container .cont5-wrap .first-div .ask-flex .first-1 .investing {
    font-size: 20px;
  }
  .gradient-container .cont5-wrap .first-div .ask-flex .first-1 .investing-para {
    font-size: 14px;
  }
  .gradient-container .cont5-wrap .second-image {
    width: 100%;
    height: auto;
    padding-left: 0px;
  }
  .wrap7 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0px;
  }
  .wrap7 .first {
    padding-left: 53px;
  }
  .wrap7 .second-section {
    gap: 10px;
  }
  .wrap7 .second-section .second {
    gap: 36px;
  }
  .wrap7 .second-section .second .column1 .column-lines {
    margin-top: -33px;
  }
  .wrap7 .second-section .column2 {
    gap: 13px;
  }
  .wrap7 .second-section .column2 .contact-call .contact {
    padding-right: 0px;
    padding-left: 46px;
  }
  .header .neo-funds {
    padding-left: 0px;
  }
  .header .search {
    padding-left: 0px;
  }
  .header .span1 {
    font-size: 8px;
    padding: 8px;
  }
  .header .span4 {
    font-size: 11px;
  }
  .cont3wrapper .container_wrapper {
    padding-bottom: 47px;
  }
  .cont3wrapper .logo-sec .logo .logo-head {
    font-size: 13px;
  }
  .wrap6 .second-sec .chat-img {
    right: 76px;
  }
  .container_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .container {
    width: 540px;
  }
  .cont2wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header .hamburgr {
    padding-left: 316px;
  }
  .header .neo-funds {
    padding-bottom: 20px;
  }
  .header .search .search-bar {
    margin-right: 441px;
  }
  .header .search .list_2 {
    display: none;
  }
  .cont3wrapper .container_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 45px;
  }
  .cont3wrapper .container_wrapper .para {
    width: 100%;
    padding-top: 15px;
  }
  .cont4-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cont4-wrapper .about {
    padding-right: 164px;
  }
  .gradient-container .cont5-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .gradient-container .cont5-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .gradient-container .cont5-wrap .second-image {
    padding-left: 0px;
  }
  .gradient-container .cont5-wrap .first-div .ask-flex .first-1 .investing-para {
    font-size: 15px;
  }
  .wrap7 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 24px;
    padding-top: 26px;
  }
  .wrap7 .first {
    padding-bottom: 62px;
    padding-left: 20px;
  }
  .wrap7 .second-section {
    gap: 10px;
  }
  .wrap7 .second-section .second {
    gap: 45px;
  }
  .wrap7 .second-section .column2 {
    gap: 0px;
    white-space: normal;
  }
  .wrap7 .second-section .column2 .contact-call .contact {
    margin-left: 1px;
    padding-right: 0px;
  }
  .wrap7 .second-section .column2 .column2-img {
    padding-left: 19px;
  }
  .wrap7 .second-section .column2 .download {
    padding-left: 86px;
  }
  .wrap7 .second-section .column2 .call .no1,
  .wrap7 .second-section .column2 .call .no2 {
    padding-left: 30px;
  }
  .wrap7 .second-section .column2 .call .call-us {
    padding-left: 35px;
  }
  .wrap7 .second-section .column1 {
    white-space: normal;
  }
  .wrap7 .second-section .column1 .column-centr {
    margin-top: 0px;
  }
  .wrap7 .second-section .column1 .line1 {
    padding-left: 3px;
  }
  .cont4-wrapper .about-funds {
    padding-top: 45px;
  }
}

@media only screen and (min-width: 576px) {
  .wrap7 .second-section .column1 .plus-img {
    display: none;
  }
  .wrap7 .second-section .column1 .close {
    display: none;
  }
}

@media only screen and (min-width: 320px) and (max-width: 575px) {
  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
  .wrapper {
    display: none;
  }
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header .search .search-bar {
    margin-left: 97px;
    -webkit-box-shadow: 0 -35px 20px 0 rgba(0, 0, 0, 0.03);
            box-shadow: 0 -35px 20px 0 rgba(0, 0, 0, 0.03);
  }
  .header .search .search-bar .input {
    width: 239px;
  }
  .header .neo-funds {
    padding: 0px 3px 30px 0px;
    font-size: 20px;
  }
  .header .neo-funds .hamburgr {
    padding-left: 84px;
  }
  .header .search {
    margin-left: -117px;
    padding-left: 0px;
  }
  .header .search .list_2 {
    display: none;
  }
  .header .search .nav-icon {
    display: block;
  }
  .first-image {
    display: none;
  }
  .container_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cont4-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-right: 0px;
  }
  .cont4-wrapper .button-2 .watch-vedio {
    font-size: 14px;
  }
  .cont4-wrapper .button-2 .know-more {
    font-size: 15px;
  }
  .cont4-wrapper .image-0 {
    width: 300px;
    height: 251px;
  }
  .cont4-wrapper .learn-funds {
    font-size: 30px;
  }
  .cont4-wrapper .about {
    padding-right: 16px;
    padding-top: 20px;
  }
  .cont4-wrapper .about .know-more {
    padding: 2px 17px;
    width: 132px;
  }
  .gradient-container .cont5-wrap .first-div .ask-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .gradient-container .cont5-wrap .first-div .ask-flex .first-1 {
    padding-top: 30px;
  }
  .gradient-container .cont5-wrap .first-div .ask-flex .schedule-now {
    width: 186px;
  }
  .gradient-container .cont5-wrap .second-image {
    display: none;
  }
  .shadow {
    -webkit-box-shadow: 0 -35px 20px 0 rgba(0, 0, 0, 0);
            box-shadow: 0 -35px 20px 0 rgba(0, 0, 0, 0);
  }
  .wrap7 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0px;
    padding-top: 0px;
  }
  .wrap7 .first {
    padding-left: 0px;
  }
  .wrap7 .first .neo-img {
    width: 71px;
  }
  .wrap7 .first .neo {
    font-size: 18px;
  }
  .wrap7 .second-section .second {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0px;
  }
  .wrap7 .second-section .column2 {
    gap: 0px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .wrap7 .second-section .column2 .download {
    margin-right: 121px;
  }
  .wrap7 .second-section .column2 .contact-call {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .wrap7 .second-section .column2 .contact-call .contact {
    padding-right: 88px;
    margin-left: -59px;
  }
  .wrap7 .second-section .column2 .contact-call .call {
    padding-right: 0px;
  }
  .wrap7 .second-section .column2 .call-us {
    padding-left: 21px;
    margin-left: -6px;
  }
  .wrap7 .second-section .column1 .quick-links {
    border: 1px solid #F0F0F0;
    width: 100%;
    height: 52px;
    margin-left: -62px;
  }
  .wrap7 .second-section .column1 .click {
    margin-left: -40px;
  }
  .wrap7 .second-section .column1 .column-lines {
    display: none;
    gap: 10px;
  }
  .wrap7 .second-section .column1 .column-lines1 {
    display: none;
    gap: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    right: 0;
    margin-top: -75px;
  }
  .wrap7 .second-section .column1 .column-lines2 {
    display: none;
    gap: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    right: 0;
    margin-top: -75px;
  }
  .cont3wrapper .logo-sec {
    -webkit-column-gap: 0px;
            column-gap: 0px;
  }
  .cont3wrapper .logo-sec .logo .logo-head {
    font-size: 11.2px;
  }
  .cont3wrapper .container_wrapper {
    padding-bottom: 45px;
  }
  .cont3wrapper .container_wrapper .para .cont3-head {
    width: 313px;
  }
  .cont3wrapper .container_wrapper .para .cont3-para {
    width: 335px;
  }
  .wrap6 .first-part .manage-para {
    width: 100%;
    padding-left: 0px;
    padding-bottom: 45px;
  }
  .wrap6 .first-part .image-span .image-app {
    width: 150px;
    padding-bottom: 80px;
  }
  .wrap6 .first-part .manage-investment {
    padding-top: 55px;
  }
  .footer_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .footer_wrapper .copyright {
    padding: 12px;
  }
  .footer_wrapper .social-medias {
    padding-left: 11px;
  }
  .cont2wrapper .cont2-div .investing-made-easy {
    font-size: 30px;
    padding-top: 0px;
  }
  .cont2wrapper .cont2-div .indias-fatest {
    padding-right: 0px;
  }
}
/*# sourceMappingURL=indexmobile.css.map */